.library{
  border: 1px solid #ccc;
  padding: 0 6px 0 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}
.albums{
  border: 1px solid #ccc;
  height:auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
  border-radius: 5px;

}


.albums:hover{
  border: 1px solid #777;
  background-color:blue;

}


img {
  object-position: center;
  text-align: center;
  width: 100%;
  height: 60%;

}
.albumInfo{
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  width: 100%;
  height:20%;
  text-decoration: none;

}

@media only screen and (max-width: 700px) {
    .library {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .library{
        width: 100%;
        margin: 6px 0;

    }
}
