.App {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 100%;
  margin: .5em;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height:20%;
}

nav {

  overflow: hidden;
  background-color: #333;;

}


.App .JamLinks {
  float: left;
  display: block;
  color: #f2f2f2;
  height:auto;
  padding: 14px 16px;
  text-decoration: none;

}
.App .logo{
  padding:0;
  height:15px;
  width:30px;
}

.App .JamLinks:active{
    background-color: #4CAF50;
    color: white;
}
.App .JamLinks:hover {
  background-color: #ddd;
  color: black;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
